html

  head
    meta(charset="utf-8")
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")

    title=pageTitle
    meta(property="og:url" content=pageUrl)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=imageUrl)
    meta(property="og:image:width" content=imageWidth)
    meta(property="og:image:height" content=imageHeight)

    style
      include index.css

  body

    #canvas
      #rectangle
        #shareme
          | Share
          include fb-icon.svg

    #hint Draw a rectangle

    script
      include index.js

    script
      |var gaClientId='#{gaClientId}';
      if gaClientId
        include ga.js